body {
  background: #EE3B3B;
  margin: 16px 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 76%;
  color: #4F4F4F;
  text-align: center;
}
a:link, a:visited {
  color: #EE0000;
}
#box1 {
  width: 340px;
  text-align: left;
  background: #FFF;
  padding: 20px 16px;
  left:50%;
  margin:-150px 0 0 -170px;
  position:absolute;
  top:50%;
}
.box2 {
  background: #EFEFEF;
  padding: 10px 10px 2px;
}
label {
  display: block;
  font-weight: bold;
  padding: 0 0 6px 0;
}
input.login {
color:#404040;;
background-color:#ddd;
}
input.setup {
  border: 1px solid #EE0000;
  padding: 5px;
  width: 200px;
}

.ui-menuitem .ui-widget .ui-corner-all{
	text-decoration: blink;	
}